---
layout: default
permalink: /
---

<section class="op bg-mysoc-green py-5 py-sm-6 py-md-7" aria-label="Top" id="top">
    <div class="top-title">
        <h1 class="text-center mb-0 py-2 py-sm-3">WOO WITBOEK</h1>
        <p class="top-subtitle" class="text-center">Best practices: van journalisten, voor ambtenaren</p>
</section>

<button class="btn menu-toggle js-toggle-menu d-flex align-items-center text-mysoc-purple">
    GA NAAR SECTIE
    {% include menu.svg classes="text-mysoc-dark-grey" %}
</button>
<nav class="menu">
    <a href="#top" class="bg-mysoc-green text-white">TOP</a>
    <a href="#voorwoord" class="bg-mysoc-purple text-white">VOORWOORD</a>
    <a href="#inleiding-waarom-het-witboek" class="bg-white text-mysoc-green">INLEADING: WAAROM HET WITBOEK</a>
    <a href="#het-journalistieke-proces-achter-een-woo-verzoek" class="bg-mysoc-green text-white">HET JOURNALISTIEKE PROCES ACHTER EEN WOO VERZOEK</a>
    <a href="#11-best-practices-van-journalisten" class="bg-mysoc-purple text-white">11 BEST PRACTICES VAN JOURNALISTEN</a>
    <a href="#download-het-woo-witboek" class="bg-white text-mysoc-green">DOWNLOAD HET WOO WITBOEK</a>
    <a href="#colofon" class="bg-mysoc-green text-white">COLOFON</a>
    <button class="bg-mysoc-dark-grey js-toggle-menu">
        SLUIT MENU
        {% include close.svg classes="ml-3" %}
    </button>
</nav>

<br>
<br>
<br>
{% include section-slope.html topleft="mysoc-white" bottomright="mysoc-purple" %}

<section class="bg-mysoc-purple py-5 py-sm-6 py-md-7" aria-label="Voorwoord" style="color: white" id="voorwoord">
    <div class="container">
        <h2 class="text-center">Voorwoord</h2>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-8 col-lg-10">
                <p class="font-caveat">
					Door Folkert Jensma
                </p>
                <p>
					Wie een bemiddelingsverzoek in het kader van de Wet open overheid (Woo) indient, heeft z’n geduld meestal wel opgebruikt. Althans, dat is goed te merken bij de gesprekken die ik help voeren als ‘externe’ bemiddelaar bij het Adviescollege Openbaarheid en Informatiehuishouding (ACOI).
                </p>
                <p>
					De bemiddelingen die ik meemaakte begonnen doorgaans in een wolk van wantrouwen en frustratie enerzijds en exact dezelfde wolk van wantrouwen en (incidenteel) spijt anderzijds. Soms was de rolverdeling tussen overheidsorgaan en journalist bijna komisch in hun voorspelbaarheid en perspectief. De aanklagende alvast verontwaardigde ‘journo’ versus de gesloten ‘wat mot je van me’-bestuurder. Dan is het een kwestie om eerst stoom te laten afblazen. Gevolgd door kennis maken, verhoudingen aftasten, begrip kweken en geleidelijk aan naar afspraken toewerken. Mission accomplished, als we geluk hebben.
                </p>
                <p>
					Ik herken veel, ook uit eerdere confrontaties tussen belanghebbenden die altijd Belangrijk Werk doen, dat uiteraard voorrang behoeft. Uiteindelijk is het leven op het scherpst van de snede van het eigen gelijk moeilijk vol te houden. En dan gebeurt er meestal iets goeds. Soms ook niet: een kleine minderheid verdwijnt in de loopgraven, met sociale media als versterker en echoput. Ook bemiddelingen kunnen mislukken, vastlopen in koppigheid of soms zelfs ‘verjaren’. De verzoeker heeft z’n bakens verzet, is wat anders gaan doen, de gevraagde informatie verloor z’n relevantie.
                </p>
                <p>
					Bij die gesprekken vermeld ik steeds dat ik ‘namens de journalistiek’ bemiddel, met de toevoeging dat die bemiddeling beoogt de openbaarheid te bevorderen en aan tijd gebonden is. En dat ik dus liever kijk naar wat er wél kan. Dat leidt vaak tot vragen, over (on)partijdigheid – intussen snappen journalisten én bemiddelaars dat niet alles altijd openbaar kan zijn. Maar ook dat openbaarheid van overheidsinformatie in Nederland een structurele achterstand heeft – en dat die ingelopen kan worden. En het is nuttig tijdens de bemiddeling te laten zien hoe journalisten tot hun vragen (en hun houding) komen – waar ze nieuwswaarde kunnen en ook mogen vermoeden. En ja, dat kan lastig zijn voor (politieke) bestuurders. Maar het hoort er wel bij.
                </p>
                <p>
					Professionele journalisten zijn enorm afhankelijk van goed werkende openbaarheidsmechanismen. Als we die samen op orde krijgen, is dat dus winst. Het ACOI moet nu de disfunctionele Wet openbaarheid van bestuur opruimen en Nederland naar Scandinavische hoogten van openbaarheid van bestuur voeren. Nieuw voor mij zijn de Woo-ambtenaren die de bestuursorganen afvaardigen, vaak met een man of twee, drie tegelijk. Tijdens onze gesprekken moeten ze nogal eens telefonisch met hun superieuren overleggen. Het blijkt gevoelige materie, die openbaarheid, die maar moeilijk gedelegeerd wordt.
                </p>
                <p>
					Woo-ambtenaren zijn niet te benijden. Bij de overheid heerst personeelstekort, koudwatervrees, achterstand en onbekendheid met de wet. Wie de Woo probeert toe te passen, aan welke kant dan ook, doet nu nog steeds aan missie en zending. Het informatieparadijs, vlotjes gedeﬁnieerd als ‘openbaarheid zonder grenzen’, is bepaald nog niet bereikt.
                </p>
                <p>
					Veel bestuursorganen erkennen openbaarheid veelal nog niet als zelfstandige waarde en geven het evenmin de prioriteit die het toekomt. ‘Open overheid’ is nog te vaak iets waar ‘Communicatie’ maar iets mee moet doen. Dat het een kernfunctie is, een kenmerk van de gehele dienst / bestuur / organisatie, wordt vaak nog niet gevoeld. Nu is de ‘Woo-ambtenaar’ intern vaak een lastige collega die kennelijk ‘iets van je moet’. En is zo’n Woo-verzoek een risico voor ‘negatieve publiciteit’, waar iedereen maar last van heeft, de baas voorop. Ik troost ze dan met de tegeltjeswijsheid dat de enige plek waar je vuile was schoon krijgt de openbaarheid is.
                </p>
                <p>
					Feitelijk zijn de Woo-ambtenaren de bondgenoten van de Woo-verzoekers. Ook zij hebben openbaarheid immers als doelstelling, maar moeten dat intern veelal bevechten. Als dáár een goede samenwerking kan ontstaan is er al veel gewonnen. En als de overheid intern die grens kan slechten, tussen de Woo-ambtenaar en ‘de rest’, en de Wet open overheid in de hele organisatie als vaste waarde weet te integreren, dan kan er veel verbeteren. Want er is óók nog een lange weg te gaan.
                </p>
                <p class="font-caveat">
					Folkert Jensma is jurist en journalist, vooral voor NRC, voorzitter van de NVJ (Nederlandse Vereniging van Journalisten) en freelance bemiddelaar bij het ACOI.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-mysoc-white text-mysoc-green py-5 py-sm-6 py-md-7" aria-label="Inleiding: Waarom het witboek" style="color: white" id="inleiding-waarom-het-witboek">
    <div class="container">
        <div>
            <h2 class="text-center">INLEDING: WAAROM HET WITBOEK</h2>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-8 col-lg-10">
                <p>
					Er zijn niet veel landen waar de openbaarheidswetgeving een plek heeft gekregen in het dagelijks spraakgebruik. Wel in Nederland. Hier werd ‘wobben’ een werkwoord (jij wobt, ik wobde). Het staat zelfs in de Woordenlijst Nederlandse Taal.
                </p>
                <p>
					De Wet openbaarheid van bestuur, oftewel Wob, en opvolger de Wet open overheid (Woo), zijn in Nederland synoniem met het opvragen van overheidsdocumenten door wetenschappers, belangenorganisaties, betrokken burgers en uiteraard journalisten.
                </p>
                <p>
					De openbaarheidswetgeving levert een onmisbare grondstof voor het publieke en politieke debat. Dankzij de Woo zijn documenten van de overheid voor iedereen beschikbaar, komt deze informatie uit de eerste hand en is deze dus eenvoudig veriﬁeerbaar. Dit vaak in tegenstelling tot de inbreng van (al dan niet anonieme) menselijke bronnen waar journalisten ook gebruik van maken. En de ofﬁciële woordvoering kan beïnvloed worden door politieke of bestuurlijke overwegingen, blijkt in de praktijk.
                </p>
                <p>
					Op documenten, kortom, baseren deelnemers aan het publieke debat zich graag. Voor journalisten is de Woo dus een van de meest waardevolle instrumenten. Documenten die via de Woo zijn vrijgegeven, vormen dan ook de basis van een constante stroom aan journalistieke publicaties over wat anders verborgen was gebleven. Verhalen over belangen die achter de schermen meespeelden bij een belangrijk besluit. Artikelen over misstanden die anders onbesproken waren in gemeenteraden en in het parlement. Openbaar gemaakte informatie draagt daarmee bij aan een beter bestuur, want op openbaringen volgen veranderingen.
                </p>
                <p>
					'Wat er gebeurt als overheden belangrijke informatie onder de pet houden, bleek uit het toeslagenschandaal. Het was een wake-up-call: transparantie over overheidshandelen is van levensbelang voor de democratie.' ‘Signalen dat het ergens niet goed gaat, moeten veel sneller naar boven komen en veel sneller tot actie leiden,’ sprak premier Mark Rutte nadat hij begin 2021 het aftreden van zijn kabinet had aangekondigd, naar aanleiding van het schandaal. ‘De informatievoorziening moet fundamenteel op de schop.’
                </p>
                <p>
					Dat ging niet alleen over de Wob, maar die was daar wel een belangrijk onderdeel van. De opvolger van de Wob, de Wet open overheid (Woo), moest helpen verbetering te brengen. Aan de Woo was jaren gewerkt en de wet kwam in 2022 als geroepen om de gewenste nieuwe cultuur van openbaarheid van wettelijke regels te voorzien. Woo-verzoeken zouden sneller en ruimhartiger worden afgehandeld. De overheid zou uit zichzelf veel meer informatie openbaar gaan maken. ‘Open, tenzij’ werd het nieuwe motto van de overheid ten aanzien van informatie.
                </p>
                <p>
					Zover is het in de praktijk nog niet. Dat bleek uit de rapporten Matglas (2023) en Blaadjes op het spoor (2024) en de Woo-invoeringstoets (2023). Woo-verzoeken worden nog steeds te traag – en zelfs steeds trager – afgehandeld, terwijl er in Nederland vergeleken met omringende landen weinig verzoeken worden ingediend. En dat leidt tot een groeiende kloof tussen verzoeker en bestuur en tot wantrouwen tussen maatschappij en overheid.
                </p>
                <p>
					Maar er is ook een lichtpuntje, en daar gaat dit Witboek over. Want de Woo-invoeingstoets constateerde ook ‘een opmerkelijke overeenstemming’ tussen de indieners van de verzoeken en de ambtenaren die deze verzoeken afhandelen. Beide groepen hebben de wens om best practices in te voeren: werkwijzen die werken. Bijvoorbeeld als het gaat om het contact en de afstemming met journalisten en andere burgers. (Onderzoeks)journalisten werken dagelijks met de Woo en weten welke best practices zich in de praktijk hebben bewezen. Om de uitvoering te verbeteren en snelheid te winnen. Dit Witboek is daarvan het resultaat. Journalisten hebben, ondersteund door Open State Foundation, tips en tricks uit de praktijk samengebracht in een gids voor Woo-behandelaars. Als behandelaars hier in samenwerking met journalisten mee aan de slag gaan, is het onze stellige overtuiging dat dit zal leiden tot een lagere werklast voor ambtenaren en meer openbaarheid voor de maatschappij.
                </p>
            </div>
        </div>
    </div>
</section>

{% include section-slope.html topleft="mysoc-white" bottomright="mysoc-green" %}

<section class="bg-mysoc-green text-mysoc-white py-5 py-sm-6 py-md-7" aria-label="Het journalistieke proces achter een Woo-verzoek" style="color: white" id="het-journalistieke-proces-achter-een-woo-verzoek">
    <div class="container">
        <div>
            <h2 class="text-center">HET JOURNALISTIEKE PROCES ACHTER EEN WOO-VERZOEK</h2>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-8 col-lg-10">
                <p>
					Een journalistiek Woo-verzoek komt nooit uit het niets. Vaak gaan er weken, soms zelfs maanden, van voorbereiding aan vooraf. Journalisten die deze verzoeken indienen, verdiepen zich doorgaans in het onderwerp of zijn zelfs specialisten op hun vakgebied. Ze kijken of de gewenste informatie al openbaar is. En of er andere – snellere – manieren zijn om hun informatiebehoefte te stillen. Bijvoorbeeld door scherpe vragen te stellen aan de afdeling woordvoering of door een interview aan te vragen.
                </p>
                <p>
					Pas als dat alles niet voldoende oplevert, komt de optie om een Woo-verzoek in te dienen op tafel. Daarbij wordt altijd overwogen of dit vaak langdurige proces in verhouding staat tot de nieuwswaarde. Is het de moeite waard?
                </p>
                <p>
					Hoe het Woo-verzoek eruit komt te zien en hoe breed het is, hangt af van verschillende factoren. Soms is het doel om een overzicht te krijgen: om de grootste gaten in de openbaar beschikbare informatie te dichten.
                </p>
                <p>
					Dit soort kennisverzoeken worden vaak niet ingediend met een directe publicatie als doel, maar helpen een journalist wel om grip te krijgen op een dossier. Er kan vaak worden volstaan met de belangrijkste nota's en notulen.
                </p>
                <p>
					Voor een meer diepgaande beleidsreconstructie zijn omvangrijker verzoeken nodig, omdat de journalist wil achterhalen hoe en waarom beleid tot stand is gekomen – iets wat niet uit één enkel document te halen is. Om een volledig beeld te krijgen, is het vaak nodig om verschillende soorten documenten op te vragen, zoals e-mails, concepten en zelfs appberichten.
                </p>
                <p>
					Als een journalist bijvoorbeeld een tip heeft ontvangen over een bestuursorgaan dat zich inhoudelijk heeft bemoeid met een onderzoeksrapport, terwijl dat rapport onafhankelijk tot stand had moeten komen, dan is het noodzakelijk om ook de conceptversies van dat rapport op te vragen. En als er binnen een WhatsApp-groep een discussie over belangrijke besluitvorming is geweest, dan zijn ook deze appberichten nodig om tot een goede journalistieke reconstructie te komen.
                </p>
            </div>
        </div>
    </div>
</section>

{% include section-slope.html topleft="mysoc-green" bottomright="mysoc-white" %}
{% include section-slope.html topleft="mysoc-white" bottomright="mysoc-purple" %}

<section class="bg-mysoc-purple text-mysoc-white py-5 py-sm-6 py-md-7" aria-label="11 best practices van journalisten" style="color: white" id="11-best-practices-van-journalisten">
    <div class="container">
        <div>
            <h2 class="text-center">11 BEST PRACTICES VAN JOURNALISTEN</h2>
			<p>VOOR HET AFHANDELEN VAN EEN WOO VERZOEK</p>
        </div>
        <div class="row justify-content-center text-mysoc-purple">
            <div class="col-sm-9 col-md-8 col-lg-12">
				<div class="accordion" id="accordion-cases">
				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-1">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
				            	<h3 class="mb-0">
				            		<b class="h3-11-cases">1.</b>Een Woo-verzoek is vaak niet nodig
				            	</h3>
				            </button>
				        </div>
				        <div id="collapse-1" class="collapse" aria-labelledby="case-1" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
				                	Is een Woo-verzoek wel nodig? Journalisten zijn niet altijd uit op bergen documenten om gedetailleerde reconstructies mee te maken. Vaak hebben ze concrete vragen. Wist de burgemeester nu wel of niet van een negatief advies over dat controversiële bouwproject? Een helder ja of nee kan dan al voldoende zijn. En anders een interview of een wat diepgaander schriftelijk antwoord. <span class="font-caveat text-mysoc-green">Een helder ja of nee kan voldoende zijn!</span>
				                </p>
				                <p>
				                	Het verkennen van deze mogelijkheden kan een Woo-verzoek overbodig maken en daarmee tijd besparen. Een Woo-verzoek kan vele weken, maanden of zelfs jaren in beslag nemen. Minder Woo-verzoeken betekent minder noodzaak om archieven te doorzoeken, mailboxen na te lopen, documenten te beoordelen en te lakken en te overleggen met betrokkenen. De meest voor de hand liggende manier om dit te beperken, is door de noodzaak voor een Woo-verzoek te verminderen.
				                </p>
				                <p>
				                	Bijvoorbeeld door meer informatie actief openbaar en goed vindbaar te maken. Juist als het gaat om gevoelige en actuele dossiers: zaken waar maatschappelijke – en dus journalistieke – belangstelling voor is. Richt hier desnoods een speciale webpagina voor in. <span class="font-caveat text-mysoc-green">Een speciale webpagina kan helpen!</span>
				                </p>
				                <p>
				                	En als een journalist concrete vragen heeft, beantwoord deze dan ruimhartig. Stuur bij voorkeur een document mee ter onderbouwing. Dit kan ervoor zorgen dat een journalist geen Woo-verzoek hoeft in te dienen, omdat hij al antwoord heeft. <span class="font-caveat text-mysoc-green">Zorg dat er al een antwoord is!</span>
				                </p>
				                <p>
				                	De kans is groot dat de journalist daar blij mee is. Hij of zij heeft er baat bij om antwoorden te krijgen op het moment dat een onderwerp maatschappelijk relevant is en ‘in het nieuws’. De waarde van informatie neemt in de loop der tijd vaak af. De vraag of de burgemeester wist van het negatieve advies over het controversiële bouwproject is vooral interessant om te bespreken als de discussie hierover nog gaande is. Als het besluit om te bouwen al is genomen, is de informatie een stuk minder boeiend. Een open houding en meedenken met wat een journalist wil en nodig heeft, werkt vaak het beste. Welke concrete punten kunnen zo snel mogelijk worden beantwoord, en op welke manier? De gezamenlijke conclusie kan ook zijn dat een Woo-verzoek niet de beste uitkomst is.
				                </p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat">Een goed voorbeeld van “een woo-verzoek is vaak niet nodig”</h4>
									<p>
										Onlangs heeft het programma Open Overheid de belangrijkste documenten openbaar gemaakt die inzicht geven in de totstandkoming van de kabinetsreactie op de Woo-invoeringstoets. De betrokken ambtenaren zagen aankomen dat dit politiek gevoelige dossier een onderwerp zou zijn voor informatieverzoeken. Daarom hebben ze zich ingezet om deze kernstukken, vrijwel ongelakt en overzichtelijk, via een gedetailleerde tijdlijn toegankelijk te maken.
									</p>
									<p>
										Gedurende het proces hielden de ambtenaren nauw contact met	journalisten die over dit onderwerp publiceerden, om af te stemmen welke documenten in de actieve openbaarmaking moesten worden opgenomen. Aan de hand van deze documenten kon Follow The Money (FTM) binnen een avond een journalistieke reconstructie maken. De dag na publicatie nam een van de ambtenaren alweer contact op om te controleren of er nog documenten beoordeeld moesten worden die buiten de actieve openbaarmaking vielen.
									</p>
 									<p><span class="case-example-caveat">Open en slim, zonder Woo-verzoek!</span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-2">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
				            	<h3 class="mb-0">
				            		<b class="h3-11-cases">2.</b>De afhandeling kan professioneler en onafhankelijker
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Oftewel: geef Woo-professionals de ruimte</span>
				            </button>
				        </div>
				        <div id="collapse-2" class="collapse" aria-labelledby="case-2" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									Het afhandelen van Woo-verzoeken is een vak. Of eigenlijk: meerdere vakken. Je hebt er zoekspecialisten en juristen bij nodig, maar ook coördinatoren en contactpersonen. Als verzoekers zien wij dat er mooie dingen gebeuren als deze vakmensen de verantwoordelijkheid en het vertrouwen krijgen om Woo-verzoeken te behandelen. Dat is een randvoorwaarde voor het in de praktijk brengen van de andere best practices.
								</p>
				                <p>
									Goede zoekspecialisten schrikken niet terug van een omvangrijk Woo-verzoek, maar vinden het een uitdaging om samen met de verzoeker de informatie te verzamelen en te ﬁlteren. Juristen die hun vak verstaan vinden het interessant om te zoeken naar slimme oplossingen waarbij ze zo min mogelijk hoeven weigeren en er toch geen vitale belangen geschaad worden. En bij professionele Woo-behandelaars en Woo-coördinatoren zie je dat het uitgangspunt van ‘openbaar, tenzij’ voor hen vanzelfsprekend is.
				                	<span class="font-caveat text-mysoc-green">Openbaar, tenzij..</span>
								</p>
				                <p>
									Wanneer we als verzoekers met deze vakmensen te maken krijgen, zien we dat allerlei kwesties die van oudsher moeilijk kunnen liggen – het doorzoeken van mailboxen van een oud-medewerker, wel of niet een zienswijze volgen – veranderen in routinebeslissingen van professionals. Ook wordt de politieke lading eraf gehaald. Nog een voordeel: beleidsmedewerkers die niet zo geïnteresseerd zijn in de Woo, worden met rust gelaten en kunnen zich concentreren op hun andere werkzaamheden.
								</p>
				                <p>
									Gelukkig zien we dat steeds meer bestuursorganen afdelingen Openbaarheid, groot en klein, met vakmensen optuigen. De volgende stap is hen – formeel of informeel - ook het vertrouwen geven om beslissingen te nemen. Woo-behandelaars die door hun organisatie als gezaghebbend worden beschouwd zijn trouwens vaak ook nog eens het meest tevreden met hun werk!
								</p>
				                <p>
									Wij Woo-redacteuren beschouwen onszelf ook als vakmensen en functioneren optimaal als we de ruimte krijgen van onze organisaties om verstandige beslissingen te nemen. Resultaten van Woo-verzoeken zijn merkbaar het best voor alle betrokkenen als de beslissers aan overheidszijde die ruimte ook hebben.
				                	<span class="font-caveat text-mysoc-green">Geef de ruimte!</span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat">Voorbeelden van professionele en onafhankelijke afhandeling</h4>
									<p>
										<b>1.</b> Meer ruimte voor de Woo-professionals resulteert op allerlei manieren in een betere en snellere afhandeling van verzoeken. Bij het ministerie van Binnenlandse Zaken en Koninkrijksrelaties heeft de minister besloten dat ze niet meer ieder Woo-besluit hoeft af te tekenen voor het de deur uit gaat. Hiermee spreekt de minister haar vertrouwen uit in de professionaliteit van de Woo-ambtenaren en zorgt ze ervoor dat een besluit sneller naar buiten kan.
									</p>
									<p>
										<b>2.</b> Een ervaren jurist bij het ministerie van Landbouw, Visserij, Voedselzekerheid en Natuur (LVVN) kreeg de ruimte om een creatieve oplossing te bedenken voor het vrijgeven van informatie die betrekking had op situaties in andere landen. Door alleen de namen van de landen weg te lakken was slechts voor enkele ingewijden duidelijk over welke landen het ging. De beleidsdirectie vertrouwde op het oordeel van deze jurist.
									</p>
									<p>
										<b>3.</b> Het ministerie van Binnenlandse Zaken (BZK) biedt de verzoeker door middel van een ‘menukaart’ verschillende ‘behandelmethoden’ om zijn Woo-verzoek zo effectief mogelijk uit te voeren. De Woo-afdeling wordt hierbij ondersteund door ambtenaren van andere afdelingen. Afhankelijk van de vraag en behoefte van de verzoeker kan BZK verschillende werkwijzen toepassen, variërend van een verdiepend gesprek met de dossierhouder tot een vertrouwelijke voorinzage gefaciliteerd door een informatiespecialist. Zo biedt de menukaart ﬂexibiliteit en maatwerk per verzoek, waardoor een verzoek snel en efﬁciënt kan worden afgerond.
									</p>
 									<p><span class="case-example-caveat">Professioneler en onafhankelijker dus!</span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-3">
				        	<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
				            	<h3 class="mb-0">
				            		<b class="h3-11-cases">3.</b>Even bellen
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Om onduidelijkheden op te helderen</span>
				            </button>
				        </div>
				        <div id="collapse-3" class="collapse" aria-labelledby="case-3" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-4">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
				            	<h3 class="mb-0">
				            		<b class="h3-11-cases">4.</b>Een Woo-functionaris moet makkelijk kunnen zoeken
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Help de Woo-functionaris</span>
				            </button>
				        </div>
				        <div id="collapse-4" class="collapse" aria-labelledby="case-4" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-5">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
				            	<h3 class="mb-0">
				            		<b class="h3-11-cases">5.</b>Betrek de verzoeker bij het selecteren van documenten
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Die weet wat er gezocht wordt</span>
				            </button>
				        </div>
				        <div id="collapse-5" class="collapse" aria-labelledby="case-5" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-6">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
				            	<h3 class="mb-0">
				                    <b class="h3-11-cases">6.</b>Voer een concretiseringsgesprek!
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Wat bedoel je precies?</span>
				            </button>
				        </div>
				        <div id="collapse-6" class="collapse" aria-labelledby="case-6" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-7">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
				            	<h3 class="mb-0">
				                    <b class="h3-11-cases">7.</b>Geef vertrouwelijke inzage
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Aan journalisten</span>
				            </button>
				        </div>
				        <div id="collapse-7" class="collapse" aria-labelledby="case-7" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-8">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-8" aria-expanded="true" aria-controls="collapse-8">
				            	<h3 class="mb-0">
				                    <b class="h3-11-cases">8.</b>Een concrete einddatum
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Wanneer kan ik een antwoord verwachten? Spreek het af!</span>
				            </button>
				        </div>
				        <div id="collapse-8" class="collapse" aria-labelledby="case-8" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-9">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-9" aria-expanded="true" aria-controls="collapse-9">
				            	<h3 class="mb-0">
				                    <b class="h3-11-cases">9.</b>De termijn voor zienswijzen
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Verkort deze en handhaaf de termijn</span>
				            </button>
				        </div>
				        <div id="collapse-9" class="collapse" aria-labelledby="case-9" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-10">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-10" aria-expanded="true" aria-controls="collapse-10">
				            	<h3 class="mb-0">
				                    <b class="h3-11-cases">10.</b>Zet minder vinkjes
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Hoe minder, hoe sneller</span>
				            </button>
				        </div>
				        <div id="collapse-10" class="collapse" aria-labelledby="case-10" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-1">
				        <div class="card-header bg-mysoc-white" id="case-11">
				            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-11" aria-expanded="true" aria-controls="collapse-11">
				            	<h3 class="mb-0">
				                    <b class="h3-11-cases">11.</b>Vrijgegeven documenten
				            	</h3>
				                <span class="font-caveat text-mysoc-green">Maak ze vindbaar en toegankelijk, voor iedereen!</span>
				            </button>
				        </div>
				        <div id="collapse-11" class="collapse" aria-labelledby="case-11" data-parent="#accordion-cases">
				            <div class="card-body">
				                <p>
									
				                	<span class="font-caveat text-mysoc-green"></span>
								</p>
				                <div class="card-body bg-mysoc-purple text-mysoc-white">
				                	<h4 class="mt-5 mb-5 font-caveat"></h4>
									<p>
										
									</p>
 									<p><span class="font-caveat"></span></p>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div>
    </div>
</section>

















<div class="mysoc-footer bg-mysoc-off-white" role="contentinfo">
    <div class="container">
        <div class="row footer-bar">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
	            <a href="https://openstate.eu/nl/" target="_blank">
                    {% include image.html src="/assets/img/Open_State_Foundation_logo_tagline_nl_transparent.svg" width="730" height="164.05" class="d-block mx-auto" alt="Open State Foundation logo met taggline 'open data, transparante samenleving'" %}
	            </a>
            </div>
        </div>
        <div class="row footer-icons d-flex justify-content-center">
            <a href="https://openstate.eu/contact/" target="_blank" title="Neem contact op"><i class="far fa-3x fa-envelope"></i></a>
            <a href="https://slack.hackdeoverheid.nl/" title="Hack de Overheid community Slack" target="_blank" rel="noopener"><i class="fab fa-3x fa-slack"></i></a>
            <a href="https://openstate.eu/nl/feed/" title="RSS" target="_blank" rel="noopener"><i class="fas fa-3x fa-rss"></i></a>
            <a href="https://mastodon.nl/@openstate" title="Mastodon" target="_blank" rel="noopener"><i class="fab fa-3x fa-mastodon"></i></a>
            <a href="https://twitter.com/OpenStateEU" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-3x fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/open-state-foundation/" title="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-3x fa-linkedin"></i></a>
            <a href="https://www.meetup.com/Hackdeoverheid-Meetups/" title="Hack de Overheid Meetup" target="_blank" rel="noopener"><i class="fab fa-3x fa-meetup"></i></a>
            <a href="https://www.flickr.com/photos/openstate/albums" title="Flickr" target="_blank" rel="noopener"><i class="fab fa-3x fa-flickr"></i></a>
            <a href="https://github.com/openstate" title="GitHub" target="_blank" rel="noopener"><i class="fab fa-3x fa-github"></i></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/lazyload.js"></script>
<script type="text/javascript" src="/assets/js/modernizr-custom.min.js"></script>
<script type="text/javascript" src="/assets/js/loading-attribute-polyfill.min.js"></script>
<script type="text/javascript" src="/assets/js/classlist-polyfill.min.js"></script>

<script type="text/javascript">
    if ("IntersectionObserver" in window) {
        function callback(entries) {
            if (entries[0].intersectionRatio > 0) {
                window.history.replaceState({}, document.title, '#' + entries[0].target.id);
            }
        }
        var sections = document.querySelectorAll('[id]');
        for (var i = 0; i < sections.length; i++) {
            var io = new IntersectionObserver(callback, {
                rootMargin: "-15% 0px -40% 0px",
                thresholds: [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
            });
            io.observe(sections[i]);
        }
    }

    function forEachElement(selector, callback) {
        var elements = document.querySelectorAll(selector);
        for (var i = 0; i < elements.length; i++) {
            callback(elements[i], i);
        }
    }

    forEachElement('.js-youtube-placeholder', function(el) {
        el.addEventListener('click', function(e){
            e.preventDefault();
            var placeholder = this;
            var img = placeholder.querySelector('img');

            var responsiveEmbed = document.createElement('div');
            responsiveEmbed.classList.add('embed-responsive', 'embed-responsive-16by9');

            var iframe = document.createElement('iframe');
            iframe.classList.add('embed-responsive-item');
            iframe.setAttribute('src', placeholder.dataset.iframeSrc);
            iframe.setAttribute('width', img.width);
            iframe.setAttribute('height', img.height);
            iframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture');
            iframe.setAttribute('allowfullscreen', true);

            responsiveEmbed.appendChild(iframe);
            placeholder.insertAdjacentElement('afterend', responsiveEmbed);
            placeholder.parentNode.removeChild(placeholder);
        });
    });

    forEachElement('.js-toggle-menu', function(el){
        el.addEventListener('click', function(e){
            e.preventDefault();
            document.querySelector('.menu').classList.toggle('is-active');
        });
    });

    forEachElement('.menu a', function(el){
        el.addEventListener('click', function(){
            document.querySelector('.menu').classList.remove('is-active');
        });
    });

	/* Generate a share link for the users Mastodon domain */
	// Via https://www.bentasker.co.uk/posts/documentation/general/adding-a-share-on-mastodon-button-to-a-website.html
	function MastodonShare(e){
	    // Get the source text
	    src = e.target.getAttribute("data-src");
	
	    // Get the Mastodon domain
	    domain = prompt('Jouw Mastodon server', 'mastodon.social');
	
	    if (domain == "" || domain == null){
	        return;
	    }
	
	    // Build the URL
	    url = "https://" + domain + "/share?text=" + src;
	
	    // Open a window on the share page
	    window.open(url, '_blank');
	}

	/* Call this on document.ready() */
	function enableMastodonShare(){
	    var eles = document.getElementsByClassName('mastoimg');
	    for (var i=0; i<eles.length; i++){
	        eles[i].addEventListener('click', MastodonShare);
	        /* Make visible by removing the original display: none */
	        eles[i].style = '';
	    }
	}

	function doDocumentReady(fn){
	    /* $(document).ready() without javascript */
	    if (document.readyState === "complete" ||
	       (document.readyState !== "loading" &&
		   !document.documentElement.doScroll)) {
	    	fn();
	    } else {
	    	document.addEventListener("DOMContentLoaded", fn);
	    }
	}
	
	doDocumentReady(enableMastodonShare);
</script>
