#top {
    height: 100vh;
    background-image: url("/assets/img/witteblaadjes.svg");
    background-position: -40vw 50vh;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
        background-position: -40vw 50vh;
    }

    @include media-breakpoint-up(md) {
        background-position: -10vw 50vh;
    }

    @include media-breakpoint-up(xl) {
        background-position: -10vw 35vh;
    }
}

.top-title {
    color: white;

    h1 {
        text-shadow: 0.3rem 0.3rem #444475;
    }
}

.top-subtitle {
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem #444475;

    @include media-breakpoint-up(md) {
        font-size: 2rem
    }
}

.h3-11-cases {
	font-weight: 600 !important;
	font-family: $font-anton;
	margin-right: 50px;
}

.case-example-caveat {
	font-family: $font-caveat;
	font-size: 2.6rem;
}

.hi-white {
	background-color: $color-mysoc-purple !important;
	color: white;
	border-radius: 10px;
	padding-left: 6px;
	padding-right: 6px;
}

.hi-purple {
	background-color: $color-mysoc-white !important;
	color: $color-mysoc-purple;
	border-radius: 10px;
	padding-left: 6px;
	padding-right: 6px;
}

.hi-green {
	background-color: $color-mysoc-white !important;
	color: $color-mysoc-green;
	border-radius: 10px;
	padding-left: 6px;
	padding-right: 6px;
}
